@inherits LayoutComponentBase
@using SliceAndDice.Data;
@inject SingletonServise singleton
@inject NavigationManager navigate


<PageTitle>SliceAndDice</PageTitle>

<div class="page">
        @if (singleton.GetUser() != null)
        {
            <div class="sidebar" style="display:block">
                <NavMenu/>
        </div>
        }
        else
        {
            <div class="sidebar" style="display:none">
                <NavMenu />
            </div>
        }

    <main>
        @if (singleton.GetUser() != null)
        {
            switch (singleton.GetRole())
            {
                case "Пользователь":
                    <div class="top-row" style="display:block">
                        <a href="/main">Главная</a>
                        <a href="/about">О нас</a>

                        <a href="/menu">Меню</a>

                        <a href="/BuyAndDelivery">Оплата и доставка</a>

                        <div class="my-avatar">
                            <a href="/profile"><img src="css/Images/avatar.png" /></a>
                        </div>
                    </div>
                    break;
                case "Администратор":
                    <div class="top-row" style="display:block">
                        <a href="/deleteemployee">Сотрудники</a>

                        <a href="/addemployee">Пользователи</a>

                        <a href="/addrecipes">Добавление рецепта</a>

                        <a href="/recipes">Рецепты</a>

                        <div class="my-avatar">
                            <a href="/profile"><img src="css/Images/avatar.png" /></a>
                        </div>
                    </div>
                    break;

                case "Повар":
                    <div class="top-row" style="display:block">
                        <a href="/myzakaz">Заказы</a>

                        <a href="/myzakaz">Мой заказ</a>

                        <div class="my-avatar">
                            <a href="/profile"><img src="css/Images/avatar.png" /></a>
                        </div>
                    </div>
                    break;

            }
        }
        else
        {
            switch (singleton.GetRole())
            {
                case "Пользователь":
                    <div class="top-row" style="display:none">
                        <a href="/main">Главная</a>
                        <a href="/about">О нас</a>

                        <a href="/menu">Меню</a>

                        <a href="/BuyAndDelivery">Оплата и доставка</a>

                        <div class="my-avatar">
                            <a href="/profile"><img src="css/Images/avatar.png" /></a>
                        </div>
                    </div>
                    break;
                case "Администратор":
                    <div class="top-row" style="display:none">
                        <a href="/deleteemployee">Сотрудники</a>

                        <a href="/addemployee">Пользователи</a>

                        <a href="/addrecipes">Добавление рецепта</a>

                        <a href="/recipes">Рецепты</a>

                        <div class="my-avatar">
                            <a href="/profile"><img src="css/Images/avatar.png" /></a>
                        </div>
                    </div>
                    break;

                case "Повар":
                    <div class="top-row" style="display:none">
                        <a href="/myzakaz">Заказы</a>

                        <a href="/myzakaz">Мой заказ</a>

                        <div class="my-avatar">
                            <a href="/profile"><img src="css/Images/avatar.png" /></a>
                        </div>
                    </div>
                    break;

            }
        }

        <article class="content">
            @Body
        </article>
    </main>
</div>
@code{

}