

<div class="@NavMenuCssClass nav-scrollable">
    <div class="logo-img">
        <img src="css/Images/logoImage.png" style="width:250px;"/>
    </div>

    <div class="webs">  
         <div class="webs-item">
             <img src="css/Images/inst.png"/>
         </div>

        <div class="webs-item">
            <img src="css/Images/vk.png" />
        </div>

        <div class="webs-item">
            <img src="css/Images/telegram.png"/>
        </div>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
