
@page "/about"


<div class="about-form">
    <div class="about-text">
        Мы лютые крендели и работаем в сфере пицца готовки с 2011 года Наши рестораны находятся во всех селах татарстана. Наши пицца вкуснее чем нагетсы в Маке. Если ты придешь к нам в ресторан ты останешься сытым, без денег.
    </div>
</div>

@code {

}
