
@page "/addemployee"

<div class="form-user">
    <div class="name-user">
        Зубаиров Радэль Рамилевич
    </div>

    <select class="role-user">
        <option disabled="disabled">Специальность</option>
        <option>Повар</option>
        <option>Бухгалтер</option>
    </select>

    <input placeholder="Оклад" class="zp-user"/>

    <button class="btn-job">Устроить</button>
</div>

<div class="form-user">
    <div class="name-user">
        Зубаиров Радэль Рамилевич
    </div>

    <select class="role-user">
        <option disabled="disabled">Специальность</option>
        <option>Повар</option>
        <option>Бухгалтер</option>
    </select>

    <input placeholder="Оклад" class="zp-user"/>

    <button class="btn-job">Устроить</button>
</div>

@code {

}
