
@page "/addrecipes"

<div class="title-page">
    Добавление рецепта
</div>

<div class="main-div">

    <div class="add-plus">
        <img src="css/Images/plus.png" />
    </div>


    <div class="inputs-recipe">
    <input class="name-recipe-add" placeholder="Название"/>
    <input class="discription-add" placeholder="Описание"/>
    
    <div class="bottom-q">
            <input class="price-add" placeholder="Цена" />
            <button class="btn-add-recipe">Добавить</button>
    </div>
</div>

</div>


@code {

}
