
@page "/BuyAndDelivery"

<div class="card-menu">
    <div class="card-img-menu">
        <img src="css/Images/pizza-menu.png"/>
    </div>

    <div class="card-text-menu">
        <div class="card-name-menu">
            Пицца бомба
        </div>

        <div class="card-subtitle-menu">
            Состав: Помидоры, сыр, тесто
        </div>
    </div>


    <div class="pay-card-count">

        <div class="card-price-menu">
            999
        </div>

        <div class="count-menu">
            <button class="btn-count">-</button>

            <span class="card-subtitle-menu">1</span>

            <button class="btn-count">+</button>
        </div>

    </div>
</div>

<div class="card-menu">
    <div class="card-img-menu">
        <img src="css/Images/pizza-menu.png"/>
    </div>

    <div class="card-text-menu">
        <div class="card-name-menu">
            Пицца бомба
        </div>

        <div class="card-subtitle-menu">
            Состав: Помидоры, сыр, тесто
        </div>
    </div>


    <div class="pay-card-count">

        <div class="card-price-menu">
            999
        </div>

        <div class="count-menu">
            <button class="btn-count">-</button>

            <span class="card-subtitle-menu">1</span>

            <button class="btn-count">+</button>
        </div>

    </div>
</div>

<div class="card-menu">
    <div class="card-img-menu">
        <img src="css/Images/pizza-menu.png"/>
    </div>

    <div class="card-text-menu">
        <div class="card-name-menu">
            Пицца бомба
        </div>

        <div class="card-subtitle-menu">
            Состав: Помидоры, сыр, тесто
        </div>
    </div>


    <div class="pay-card-count">

        <div class="card-price-menu">
            999
        </div>

        <div class="count-menu">
            <button class="btn-count">-</button>

            <span class="card-subtitle-menu">1</span>

            <button class="btn-count">+</button>
        </div>

    </div>
</div>

<div class="card-menu">
    <div class="card-img-menu">
        <img src="css/Images/pizza-menu.png"/>
    </div>

    <div class="card-text-menu">
        <div class="card-name-menu">
            Пицца бомба
        </div>

        <div class="card-subtitle-menu">
            Состав: Помидоры, сыр, тесто
        </div>
    </div>


    <div class="pay-card-count">

        <div class="card-price-menu">
            999
        </div>

        <div class="count-menu">
            <button class="btn-count">-</button>

            <span class="card-subtitle-menu">1</span>

            <button class="btn-count">+</button>
        </div>

    </div>
</div>

<button class="zakaz-pay">Заказать</button>

@code {

}
