@page "/"

<div class="backGroundUp">
    <div class="logoImage"></div>
</div>

<div class="backGroundDown">
    <div class="items">
        <input class="inputAuthoRectangle" placeholder="Логин" />
        <input class="inputAuthoRectangle" placeholder="Пароль" />
        <button class="btnAuth">Войти</button>
        <a class="hyperLinkReg" href="/registration">Нет аккаунт?</a>
    </div>
</div>