@page "/main"
@using SliceAndDice.Data;
@inject SingletonServise singleton
@inject NavigationManager navigate

<div class="pizza-img">
    <img src="css/Images/mainPizza.png"/>
</div>

<div class="delivery-text">
    Доставляем вкусную пиццу по всей Казани.
</div>

<div class="slogan-text">
    Пиццерия, после которой не хочешь батыр!
</div>

<div class="bottom-text ">
    Сочная.Вкусная.Для вас
</div>

<div class="text-srok">
    Мы открыты 10:00 до 22:00
</div>

<div class="gps-img">
    <img src="css/Images/gps.png"/>
</div>

<div class="town">
    Г.Казань, <span class="town-text">ул.Ершова 3А</span>
</div>

@code {
    protected override void OnInitialized()
    {
        if (singleton.GetUser() == null)
        {
            navigate.NavigateTo("/");
        }
    }
}
