@inject NavigationManager nav;
@page "/menu"

<div class="card-menu">
    <div class="card-img-menu">
        <img src="css/Images/pizza-menu.png"/>
    </div>

    <div class="card-text-menu">
        <div class="card-name-menu">
            Пицца бомба
        </div>

        <div class="card-subtitle-menu">
            Состав: Помидоры, сыр, тесто
        </div>
    </div>


    <div class="pay-card">
        <div class="card-price-menu">
            999
        </div>

        <div class="btn-card-menu">
            <button class="btn-basket-menu">В Корзину</button>
        </div>
    </div>
</div>

<div class="card-menu">
    <div class="card-img-menu">
        <img src="css/Images/pizza-menu.png"/>
    </div>

    <div class="card-text-menu">
        <div class="card-name-menu">
            Пицца бомба
        </div>

        <div class="card-subtitle-menu">
            Состав: Помидоры, сыр, тесто
        </div>
    </div>


    <div class="pay-card">
        <div class="card-price-menu">
            999
        </div>

        <div class="btn-card-menu">
            <button class="btn-basket-menu">В Корзину</button>
        </div>
    </div>
</div>

<div class="card-menu">
    <div class="card-img-menu">
        <img src="css/Images/pizza-menu.png"/>
    </div>

    <div class="card-text-menu">
        <div class="card-name-menu">
            Пицца бомба
        </div>

        <div class="card-subtitle-menu">
            Состав: Помидоры, сыр, тесто
        </div>
    </div>


    <div class="pay-card">
        <div class="card-price-menu">
            999
        </div>

        <div class="btn-card-menu">
            <button class="btn-basket-menu" @onclick="z">В Корзину</button>
        </div>
    </div>
</div>

@code {
    private void z()
    {
        nav.NavigateTo("/zakaz");
    }
}
