

@page "/moneyemployee"

<div class="form-user">
    <div class="name-user">
        Зубаиров Радэль Рамилевич
    </div>

    <div class="role-user-money">
        Повар
    </div>

    <div class="money-employee">
        99999
    </div>

    <button class="btn-job-money">Выплатить</button>
</div>

<div class="form-user">
    <div class="name-user">
        Зубаиров Радэль Рамилевич
    </div>

    <div class="role-user-money">
        Повар
    </div>

    <div class="money-employee">
        99999
    </div>

    <button class="btn-job-money">Выплатить</button>
</div>


@code {

}
