
@page "/products"

<div class="form-user">
    <div class="name-user">
        Помидоры
    </div>

    <div class="role-user-money">
        В наличиие: 7924
    </div>

    <button class="btn-job-money">Купить</button>

    <div class="gram-products">
        5кг
    </div>
</div>

@code {

}
