
@page "/recipes"

<div class="recipe-form">
    <div class="name-recipe">
        Название рецепта
    </div>

    <button class="recipes-btn">
        Редактировать
    </button>

    <button class="recipes-btn">
        Удалить
    </button>
</div>

<div class="recipe-form">
    <div class="name-recipe">
        Название рецепта
    </div>

    <button class="recipes-btn">
        Редактировать
    </button>

    <button class="recipes-btn">
        Удалить
    </button>
</div>

@code {

}
