
@page "/reports"

<div class="report-form">
    <div class="title-report">
        Сформировать отчёт
    </div>

        <input class="start-title" placeholder="Начало месяца"/>

        <input class="start-title" placeholder="Конец месяца" />

    <select class ="start-title">
            <option disabled="disabled">Сотрудник</option>
            <option>Давлетшин</option>
            <option>Зубаиров</option>
        </select>

    <button class="btn-create">Создать</button>
</div>


<div class="card-report">
    <div class="title-report-card">
        Отчёт_04_02_2023
    </div>

    <button class="btn-download">Скачать</button>
</div>


<div class="card-report">
    <div class="title-report-card">
        Отчёт_04_02_2023
    </div>

    <button class="btn-download">Скачать</button>
</div>

@code {

}
