
@page "/zakaz"
@using DataAccessLibrary
@using DataAccessLibrary.Models
@using SliceAndDice.Data;

@inject IDatabseData _db
@inject SingletonServise singleton
@inject NavigationManager navigate

<div class="zakaz-form">

    <div class="title-zakaz">
        Готовиться
    </div>

            <div class="text-zakaz">

                <div class="name-subtitle-zakaz">

                <div class="name-zakaz">
                    Пицца бомба
                </div>

                <div class="subtitle-zakaz">
                    Состав: Помидоры, сыр, тесто
                </div>

                </div>

                <div class="count-zakaz">
                    1 шт
                </div>

                <div class="price-zakaz">
                    999
                </div>
            </div>

                <div class="text-zakaz">

        <div class="name-subtitle-zakaz">

        <div class="name-zakaz">
            Пицца бомба
        </div>

        <div class="subtitle-zakaz">
            Состав: Помидоры, сыр, тесто
        </div>

        </div>

        <div class="count-zakaz">
            1 шт
        </div>

        <div class="price-zakaz">
            999
        </div>
    </div>


    <div class="total-price">
        Всего: 9999
    </div>
</div>

@code {
    OrderModel order = null;
    protected async override void OnInitialized()
    {
        if (singleton.GetUser() == null)
        {
            navigate.NavigateTo("/");
        }
        List<OrderModel> orders = await _db.GetOrder();
        if (orders.Where(element => element.User_id == singleton.GetUser().ID_User).Count() == 0)
        {
            navigate.NavigateTo("/BuyAndDelivery");
        }
        order = orders.Where(element => element.User_id == singleton.GetUser().ID_User).First();
    }
}
